* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body {
    text-align: center;
    background-color: gray;
}

.foto{
    width: 500px ;
    height:400px ;
    padding: 30px;
    border-radius: 40px;
}
.tema_geral {
    margin-top: 10px;
    padding: 20px;
}

.definiçao {
    margin-top: 10px;
    padding: 20px;
    font-size: large;

}

.como_funciona {
    margin-top: 10px;
    padding: 20px;
    font-size: large;
}

.funcionalidade {
    margin-top: 10px;
    padding: 20px;    
}

.links{
    color: #000000;
    padding: 10px;
}

#tradingview,
#forexfactory,
#lucid {
    margin: 5px;
    color: #000000;
}